<!DOCTYPE html>
<html lang="zh-CN">
    <head>
		<title>教务处绑定系统</title>
        <meta name="KEYWords" content="暨南FM 暨大 手机应用 下载"/>
        <meta name='description' content='一款为暨南大学学生服务的手机应用'/>
        <meta name="author" content="Jnufm,zhengjiayi888@qq.com,JerryZheng"/> 
        <meta name="viewport"  content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
        <meta name="Robots" contect="all">
        <meta name="revisit-after" content="1 days">
        <meta charset="utf-8">
        
        <link rel="icon" href="img/icon.png" type="image/gif" sizes="16x16"/>
        <link href="/Public/css/bindAccount.css" rel="stylesheet">
    </head>
    <body>
    	<div class="body">
            <p class="page_msg">暨南FM 教务处绑定系统</p>
	    	<p class="show error">绑定失败</p>
            <p class="tips">返回微信对话界面再次回复功能关键词即可使用</p>
    	</div>
    </body>
</html>